html,body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: 13px;
}
.btn {
  cursor: pointer;
  background: #eee;
  display: inline-block;
  user-select: none;
  border-radius: 3px;
  margin: 6px;
  padding: 8px 16px;
}
.btn:hover {
  background: #888;
  color: #fff;
}

.box {
  padding: 12px;
  flex: 1;
  overflow-y: auto;
}